.top-section {
    background-color: #E7F9F9;
    color: #04335E;
}

.bottom-section {
    background-color: #03325D;
    color: #F6FBF5;
}

.white-section {
    color: #04335E;
}

button {
    background-color: #FC993E;
    color: #103650;
}
