.top-section {
    @apply pl-24 py-10;
    background-color: #E7F9F9;
    color: #04335E;
}

.bottom-section {
    @apply  pr-40 pl-24 py-10;
    background-color: #03325D;
    color: #F6FBF5;
}

button {
    background-color: #FC993E;
    color: #103650;
}
