/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import '_site-wide.css';

@font-face {
    font-family: 'introrustg-base2line';
    src: url('/fonts/introrustg-base2line-webfont.woff2') format('woff2'),
    url('/fonts/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

